*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100%;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

#container
{
    display: flex;
    background-color: white;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game
{
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title
{
    font-size: 36px;
    font-weight: medium;
    letter-spacing: 2px;
    margin: 0 auto;
    text-align: center;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";

}

#board-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square
{
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container
{
    height: 200px;
}

.keyboard-row
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }

  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: #bebebe;
    color: black;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }

  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }

  .keyboard-row button.delete
  {
    font-size: 20px;

  }

  .spacer-half {
    flex-grow: 0.5;
  }